#container-iframe {
    width: 100%; /* 宽度自适应 */
    margin: 0 auto; /* 居中显示，可根据需要调整 */
    padding: 35px;
}

#responsive-iframe {
    width: 88.2%; /* 100%宽度，跟随父容器宽度变化 */
    height: 240px; /* 你可以根据需要设置iframe的高度 */
    border: none;
}

h1 {
    text-align: left;
    margin-left: 37px; /* 根据需要调整左边距的值 */
}

button {
    padding: 10px 15px;
    border-radius: 25px;
    margin: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4CAF50;
}

a:nth-child(2) button,
a:nth-child(3) button,
a:nth-child(4) button,
a:nth-child(5) button {
    width: fit-content;
}

h3, a {
    display: inline-block;
}

h3:nth-child(n+2) {
    clear: both;
}

/* Animation */
@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

h1, h3, a, iframe {
    animation: fadeInUp 1s ease-out;
}

/* Icon Styles */
i { margin-right: 8px; }

.column {
    float: left; /* 让列左浮动 */
    box-sizing: border-box; /* 让内边距和边框计入宽度 */
    padding: 5px 20px; /* 添加一些内边距 */
    /*background-color: darkgoldenrod;*/
}

.column2 {
    float: left; /* 让列左浮动 */
    flex: 1.5; /* 右列占据剩余空间 */
    text-align: left; /* 左对齐文本内容 */
    /*background-color: #4CAF50;*/
}

.row {
    overflow: hidden; /* 清除浮动 */
    padding: 15px; /* 添加一些内边距 */
    box-sizing: border-box; /* 让内边距和边框计入宽度 */
    display: flex;
    align-items: center;
    justify-content: center; /* 在水平方向上居中元素 */
    text-align: center;
    /*background-color: antiquewhite;*/
}


/* 清除浮动，防止父元素塌陷 */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 2px solid #000;
    background-color:transparent;
    backdrop-filter: blur(1px);
    width: 600px; /* 固定宽度 */
    max-width: 100%; /* 最大宽度为100%（防止在小屏幕上溢出） */
    margin: 20px auto; /* 居中 */
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}
